# Compiled class file
*.class

# Log file
*.log

# Package files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Build output
target/
build/
data/

# IDE
.idea/
*.iws
*.iml
*.ipr
.classpath
.project
.settings/
.factorypath
.apt_generated/
.springBeans
.sts4-cache

# Editors
.vscode/

# Maven wrapper binary cache
.mvn/wrapper/maven-wrapper.jar

# JVM crash logs
hs_err_pid*
replay_pid*
